# https://github.com/lowlighter/metrics#-documentation

name: Metrics Insights

on:
  schedule:
    - cron: 0 0 * * SUN
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  metrics-insights:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: lowlighter/metrics@latest
        with:
          # Your GitHub token
          # The following scopes are required:
          #  - public_access (default scope)
          # The following additional scopes may be required:
          #  - read:org      (for organization related metrics)
          #  - read:user     (for user related data)
          #  - read:packages (for some packages related data)
          #  - repo          (optional, if you want to include private repositories)
          token: ${{ secrets.METRICS_TOKEN }}
          output_action: none
          config_timezone: Asia/Shanghai
          config_output: insights

      - run: |
          mkdir dist
          cp /metrics_renders/* dist/index.html
          wget --output-document=dist/favicon.ico https://assets.liblaf.me/favicon/ico/m.ico

      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
          single-commit: true
